@import '../../../../../../assets/styles/colors';
@import '../../../../../../assets/styles/mixins';

.view__summary {
  @include viewBaseStyles();

  .banner {
    grid-area: banner;
  }

  .container {
    display: grid;
    grid-template-areas: 'content1' 'content2' 'buttons';
    grid-area: container;

    .content {
      .icon {
        display: block;
        max-width: 48px;
        margin-bottom: 28px;
      }

      h4 {
        font-size: 20px;
        font-weight: bold;
        color: $black_2;
        margin: 0 0 24px 0;
      }

      p {
        font-size: 16px;
        color: $black_2;
        margin: 0 0 24px 0;
      }

      small {
        font-size: 12px;
        color: $black_2;
      }

      &--1 {
        grid-area: content1;
        align-self: end;

        p {
          margin: 0;
        }
      }

      &--2 {
        grid-area: content2;
        align-self: center;
      }
    }

    .fieldset {
      grid-area: buttons;
      padding: 18px 0;
    }
  }
}
