.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 26px auto 16px;

  &__sign {
    width: 81px;
    height: 81px;
    margin-bottom: 8px;
  }

  &__text {
    width: 180px;
    height: 33px;
    margin-bottom: 26px;
  }

  &__content {
    text-align: center;
    min-height: 74px;
  }

  &--white {
    justify-content: center;
    height: 100%;

    .brand {
      &__sign {
        width: 64px;
        height: 64px;
        margin-bottom: 6px;
      }

      &__text {
        width: 142px;
        height: 26px;
        margin-bottom: 0;
      }
    }
  }

  &--small {
    .brand {
      &__sign {
        width: 41px;
        height: 41px;
        margin-bottom: 4px;
      }

      &__text {
        width: 93px;
        height: 17px;
      }
    }
  }
}
