.back-btn {
  position: absolute !important;
  top: 15px;
  left: 21px;
  padding: 0;
  background: none;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
  z-index: 4 !important;

  &:focus {
    outline: none;
  }

  img {
    width: 24px;
    height: 21px;
  }
}
