@import '../../../../assets/styles/mixins';

.registration {
  &__step--3 {
    @include viewBaseStyles();

    .banner {
      grid-area: banner;
    }

    .container {
      grid-area: container;
      align-items: flex-start;

      h3 {
        padding-top: 20px;
        margin: 0 0 36px;
      }

      .button {
        margin: auto 0 33px auto;
      }
    }
  }
}
