@import '../../assets/styles/colors';

.textarea {
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__field {
    height: 132px;
    resize: none;
    border: 1px solid $gray_form;
    font-size: 16px;
    line-height: 1.25;
    padding: 10px;
    color: $black;
    letter-spacing: 0;
    -webkit-appearance: none;
    border-radius: 4px;

    &:focus {
      outline: none;
    }
  }

  &__label {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0;
    margin-bottom: 5px;
  }
}
