.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 286px;
  margin: 0 auto;

  background-size: auto;
  background-repeat: no-repeat;
  background-position: center top;
}
