@import '../../assets/styles/colors';

.view__risk-information {
  display: grid;
  grid-template-areas: "banner" "container";
  grid-template-rows: 102px 1fr;
  width: 100%;
  height: 100vh;

  .banner {
    grid-area: banner;
  }

  .container {
    display: grid;
    grid-template-areas: "title" "content";
    grid-template-rows: 120px 1fr;
    grid-area: container;

    h4 {
      grid-area: title;
      align-content: center;
      text-align: center;
      line-height: 1.5em;
      margin-top: 10px;
    }

    .content {
      grid-area: content;

      font-size: 12px;
      line-height: 1.5em;
      padding-bottom: 50px;
      
      color: $black;

      ol {
        padding-inline-start: 15px;
        
        ul {
          padding-inline-start: 15px;
          font-weight: unset;
        }
      }
    }
  }
}
