.view__regulations {
  display: grid;
  grid-template-areas: "banner" "container";
  grid-template-rows: 102px 1fr;
  width: 100%;
  height: 100vh;

  .banner {
    grid-area: banner;
  }

  .container {
    display: grid;
    grid-template-areas: "subtitle" "title" "content";
    grid-template-rows: 40px 52px 1fr;
    grid-area: container;

    .p2 {
      grid-area: subtitle;
      padding-top: 27px;
    }

    h4 {
      grid-area: title;
      padding-bottom: 38px;
    }

    .content {
      grid-area: content;
    }
  }
}
