@import '../../../../assets/styles/mixins';

.view__regulations {
  @include viewBaseStyles();

  .banner {
    grid-area: banner;
  }

  .container {
    display: grid;
    grid-template-areas: 'subtitle' 'title' 'content';
    grid-template-rows: 40px 52px 1fr;
    grid-area: container;

    .p2 {
      grid-area: subtitle;
      padding-top: 27px;
    }

    .content {
      grid-area: content;
    }
  }
}
