@import '../../assets/styles/colors';

.app {
  position: relative;
  left: 0;
  overflow-x: hidden;
  min-width: 320px;
  transition: all 0.16s linear;
  background-image: linear-gradient(#0052a5 50px, #ffffff 50px);
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);

  &.menu-visible {
    left: -100%;

    header {
      left: -100%;
    }

    @media screen and (min-width: 375px) {
      left: -320px;

      header {
        left: -320px;
      }
    }
  }
}

body {
  * {
    box-sizing: border-box;
  }

  h2 {
    color: $black;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 37px;
  }

  h3 {
    color: $black_2;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 26px;

    &.medium {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0;
    }
  }

  h4 {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
    color: $primary_2;
    margin: 0;

    &.medium {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0;

      &.title {
        color: $black_2;
        padding: 15px 0;
      }
      &.title-2 {
        color: $black_2;
        padding: 35px 0 15px;
      }
      &.title-3 {
        color: $black_2;
        padding: 40px 0 15px;
      }
      &.title-4 {
        color: $black_2;
        padding: 40px 0 0px;
      }
    }

    &.medium-2 {
      font-size: 16px;
      line-height: 21px;
    }

    &.big {
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0;
    }
  }

  h5 {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
    color: $primary_1;
    margin: 0;

    &.small {
      font-size: 14px;
      color: $primary_1;
      line-height: 19px;
    }

    &.medium {
      font-size: 20px;
      line-height: 21px;
    }

    &.big {
      font-size: 22px;
      line-height: 29px;
    }
  }

  h6 {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    color: $primary_2;
    font-weight: normal;
  }

  p {
    color: $black;
    letter-spacing: 0;
    margin: 0;

    + .text-list {
      margin-top: 8px;
    }

    &.watermark {
      text-align: right;
      font-size: 7px;

      &.details {
        margin-bottom: 10px;
      }
    }

    &.smaller {
      font-size: 10px;
      line-height: 13px;
    }

    &.small {
      font-size: 12px;
      line-height: 16px;
    }

    &.medium {
      font-size: 14px;
      line-height: 19px;
    }

    &.medium-2 {
      font-size: 16px;
      line-height: 21px;
    }

    &.big {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .primary-1 {
    color: $primary_1;
  }

  .primary-2 {
    color: $primary_2;
  }

  .primary-3 {
    color: $primary_2;
  }

  .text-bold {
    font-weight: bold;
  }

  .no-wrap {
    white-space: nowrap;
  }

  .text-center {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }

  .text-warning {
    color: $orange;
  }

  .text-error {
    color: $red;
  }

  .view {
    width: 100%;
  }

  .text-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      padding-left: 12px;
      margin-bottom: 8px;

      &:before {
        position: absolute;
        top: 2px;
        left: 0;
        content: '';
        background-color: $primary_2;
        border-radius: 50%;
        width: 5px;
        height: 5px;
      }

      p {
        margin: 0;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
