@import '../../assets/styles/colors';
@import '../../assets/styles/mixins';

.matched-devices {
  @include viewBaseStyles();
}

.matched-devices__banner {
  grid-area: banner;
}

.matched-devices__container {
  display: grid;
  grid-template-areas: 'title' 'content';
  grid-template-rows: 50px 1fr;
  grid-area: container;

  .h1 {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }

  .content {
    grid-area: content;
    align-self: start;
    padding-top: 30px;
  }
}

.matched-devices__list {
  display: flex;
  flex-direction: column;
}

.matched-devices__list-item {
  display: flex;
  flex-direction: column;
  padding: 15px 0;

  & + & {
    border-top: 1px solid $black;
  }
}
