@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/mixins';

.view__summary {
  @include viewBaseStyles();

  .banner {
    grid-area: banner;
  }

  .container {
    display: grid;
    grid-template-areas: 'content1' 'content2' 'buttons';
    grid-area: container;

    .content {
      &--1 {
        grid-area: content1;
        align-self: end;

        p {
          margin: 0;
        }
      }

      &--2 {
        grid-area: content2;
        align-self: center;
      }
    }

    .fieldset {
      grid-area: buttons;
      padding: 18px 0;
      border-top: 1px solid $gray_4;

      &:after {
        display: block;
        content: '';
        height: 1px;
        width: 100%;
        background-color: $gray_4;
      }
    }
  }
}
