@import '../../../../assets/styles/mixins';

.registration {
  &__step--2 {
    @include viewBaseStyles(minmax(auto, 202px));

    .banner {
      grid-area: banner;
    }

    .container {
      grid-area: container;
      align-items: flex-start;

      h3 {
        text-align: left;
        margin: 33px 0 36px;
      }

      .fieldset {
        margin-bottom: 43px;
      }

      .button {
        margin: auto 0 33px auto;
      }
    }
  }
}
