@import '../../assets/styles/colors';

.view__my-health {
  display: grid;
  grid-template-areas: "banner" "container";
  grid-template-rows: 102px 1fr;
  width: 100%;
  height: 100vh;

  .banner {
    grid-area: banner;
  }

  .container {
    display: grid;
    grid-template-areas: "title" "legend" "today" "line" "list";
    grid-template-rows: 50px 50px auto 25px 1fr;
    grid-area: container;

    .h1 {
      grid-area: title;
    }

    .line {
      grid-area: line;
      align-self: center;

      &:after {
        display: block;
        content: '';
        height: 1px;
        width: 100%;
        background-color: $gray_4;
      }
    }

    .today {
      grid-area: today;
    }

    .fieldset {
      grid-area: list;
      align-self: baseline;
    }
  }
}
