.collapsible {
  &__header {
    padding: 5px 0;
    font-size: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;

    &__icon {
      width: 12px;
      height: 12px;
      margin-top: 6px;
      transform: rotate(90deg);
    }
  }

  &__content {
    display: none;
    padding-bottom: 5px;
  }

  &.open {
    .collapsible__header {
      .collapsible__header__icon {
        transform: rotate(-90deg);
      }
    }

    .collapsible__content {
      display: flex;
    }
  }
}
