@import '../../assets/styles/mixins';

.view__user-data {
  @include viewBaseStyles();

  .banner {
    grid-area: banner;
  }

  .container {
    display: grid;
    grid-template-areas: "title" "content" "buttons";
    grid-area: container;

    h4 {
      grid-area: title;
      align-self: baseline;
      padding: 18px 0;
    }

    .content {
      grid-area: content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-self: flex-start;

      h3 {
        align-self: baseline;
        margin: 0;
        padding: 0;
      }

      p.medium {
        padding: 20px 0 30px;
      }
    }

    .fieldset {
      grid-area: buttons;
      padding: 30px 0;
      align-self: flex-end;
    }
  }
}

.user-data {
  &__modal-content {
    h4 {
      margin-bottom: 6px;
    }

    p {
      margin-bottom: 12px;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .button {
        width: 76px;
      }
    }
  }

  &__modal-confirmation {
    max-width: 192px;
    margin: 0 auto;

    h4 {
      margin-bottom: 17px;
    }
  }
}
