@import '../../assets/styles/colors';
@import '../../assets/styles/mixins';

.view__information {
  @include viewBaseStyles();

  .banner {
    grid-area: banner;
  }

  .container {
    display: grid;
    grid-template-areas: 'content' 'buttons';
    grid-template-rows: auto 1fr;
    grid-area: container;
    align-items: baseline;
    padding: 24px 0;

    .user {
      grid-area: user;
      align-self: end;
      justify-self: start;
      display: flex;
      align-items: center;

      img {
        margin-right: 15px;
      }
    }

    .content {
      grid-area: content;
      align-self: start;

      .h3 {
        margin: 0 0 12px 0;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.4;
        color: $black_2;
      }

      .p1 {
        font-size: 16px;
        line-height: 1.5;
        color: $black_2;
      }

      .p2 {
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 1.36;
        color: $black_2;
      }

      .warning {
        &--content {
          margin-top: 24px;
          padding: 14px 14px 20px 14px;
          border-radius: 2px;
          border: solid 1px $gray_form;
        }

        &--label {
          display: inline-flex;
          align-items: center;
          width: 100%;
          margin-bottom: 10px;
          font-size: 20px;
          font-weight: bold;
          line-height: 1.7;
          color: $warning;

          img {
            display: block;
            width: 35px;
            height: 35px;
            margin-right: 6px;
          }
        }

        &--list {
          margin: 0;
          padding-left: 20px;

          li {
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 1.36;
            color: $black_2;

            &:last-child {
              margin-bottom: 0;
            }

            strong {
              font-weight: bold;
            }
          }
        }
      }
    }

    .fieldset {
      grid-area: buttons;
      align-self: end;
      padding-top: 18px;
      margin-top: 18px;
    }
  }
}
