@import '../../../../assets/styles/mixins';
.registration {
  &__step--2 {
    @include viewBaseStyles();

    .banner {
      grid-area: banner;
    }

    .container {
      grid-area: container;
      align-items: flex-start;

      h3 {
        text-align: left;
        padding-top: 20px;
        margin: 0 0 21px;
      }

      .popupInfo {
        text-decoration: underline;
        color: #2f5f87;
      }

      .fieldset {
        margin-bottom: 43px;

        .description {
          margin-bottom: 10px;
        }
      }

      .input__field {
        width: 100%;
      }

      .button {
        margin: auto 0 auto auto;
      }
    }
  }
}
