@import '../../assets/styles/colors';

.view__data {
  padding-top: 102px;
  padding-bottom: 102px;
  height: 100vh;

  .banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 102px;
  }

  .container {
    &__content {
      display: grid;
      grid-template-areas: "title" "date" "user" "form";
      grid-template-rows: 54px 85px auto 25px;

      .h1 {
        grid-area: title;
      }

      .date {
        grid-area: date;
      }

      .user {
        grid-area: user;
      }

      .fieldset {
        align-self: baseline;
      }
    }

    &__footer {
      position: fixed;
      bottom: 0;
      left: calc(50% - 143px);
      width: 100%;
      padding: 18px 0 24px;
      border-top: 1px solid $gray_4;
    }
  }
}
