@import '../../assets/styles/colors';
@import '../../assets/styles/mixins';

.view__home {
  @include viewBaseStyles();

  .banner {
    grid-area: banner;
  }

  .container {
    display: grid;
    grid-template-areas: 'badge' 'smile' 'test' 'info' 'list';
    grid-template-rows: auto auto auto auto auto;
    grid-area: container;
    align-self: start;

    button {
      grid-area: button;
      justify-self: center;
    }
  }
}
