$primary_1: #238366;
$primary_2: #0052a5;
$white: #FFFFFF;
$black: #605E5E;
$blue: #B6CFE4;
$blue_2: #0052a5;
$gray_1: #757575;
$gray_2: #707070;
$gray_3: #DBE7F2;
$gray_4: #DCDCDC;
$gray_5: #00000029;
$green: #52DB84;
$orange: #FF7700;
$red: #F23131;
$yellow: #F2C531;

$button_primary: #0052a5;
$button_hover: #0075e2;
$button_disabled: #656565;
$button_disabled_bg: #F1F1F1;
